
{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}



{% block content %}
<style>
.card{
    width: 30%;
    height: 380px;
    left: 70px;
    /* margin: 0 auto; */
    top: 50px;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* background-color: transparent; */
}
.i1{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#img1{
   
    margin-left: 100px;
}

.back{
    background-image: url("https://cdn.pixabay.com/photo/2017/04/16/00/09/film-2233692_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

*{
    /* color: white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

</style>

<div class="back">
<div class="card">
    <div class="card-body">
        <div class="title text-center mt-2">
            <h3>LOGIN</h3>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <input class="i1" type="submit" value="LOGIN"> <br> <br>
            <a href="{% url 'register' %}">Don't have an account?</a> <br> <br>
            <a href="{% provider_login_url 'google' %}" ><img id="img1" src="{% static 'img/image.png' %}" alt="" height="40px" width="200px"></a>
        </form>
      
    </div>
  </div>
</div>
{% endblock %}